

.project-collection{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1%;
}

.projectDiv h1{
    margin-top: 100px;
    text-align: center;
    color: white;
}

@media(max-width:750px){
    .projectDiv h1{
        margin-top: 0px;
    }
}