@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Libre+Franklin:wght@600;900&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --main-color:rgb(255, 225, 0);
  --secondary-color:#667EEA;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  
  /* background:linear-gradient(to bottom right, rgb(11, 0, 160), rgb(217, 0, 255)); */
  background:linear-gradient(to bottom right, #764BA2, #667EEA);
  /* background:linear-gradient(to bottom right, #000000, #130F40); */
  /* background-color: rgb(27, 27, 27); */
  /* min-height: 900px; */
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
}