@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Libre+Franklin:wght@600;900&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --main-color:rgb(255, 225, 0);
  --secondary-color:#667EEA;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  
  background:linear-gradient(to bottom right, #764BA2, #667EEA);
  /* background: #1f1f1f; */
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
}

.not-found{
  color:white;
  min-height:94vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}