.header{
    margin: 60px auto 30px auto;
    padding: 2.5% 0%;
    width: 90%;
    height: 90vh;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.338); */
}

.headerLeftPanel{
    width: 45%;
}

.headerLeftPanel h1{
    font-size: 900;
}

.headerLeftPanel p{
    font-family: 'Barlow', sans-serif;
}

.headerRightPanel{
    width: 45%;
}

.headerRightPanel img{
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
}



@media (max-width: 930px){
    
    .headerRightPanel img{
        width: 20rem;
        height: 20rem;
    }

}

@media (max-width: 825px) {
    .headerLeftPanel{
        /* background-color: aqua; */
        width: 50%;
        min-width: 400px;
        text-align: center;
        margin-bottom: 15px;
    }
    .headerRightPanel{
        width: 100%;
        text-align: center;
        
    }
  }

.about-div{
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 5px 0px 30px 0px;
    text-align: center;
   min-height: 90vh;
}

.about-div p{
    margin: 3rem auto;
    width: 55%;
    min-width: 400px;
    /* text-justify:justify; */
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}


.about-card-collection{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}